.page-wrapper
	margin-x auto
	padding-right 117px
	padding-left 113px
	max-width 1000px
	background-color $page-wrapper_bg_color
	background-image url('../images/bg-body.jpg')
	background-position-y -10px
