include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page
include ../page-wrapper/page-wrapper
include ../scripts/scripts

doctype html
html(lang='ru')
	include ../head/head
	+page
		+page-wrapper
		block content
		+scripts(['app.min.js'])
