include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page
include ../page-wrapper/page-wrapper
include ../page-header/page-header
include ../page-content/page-content
include ../logo/logo
include ../page-footer/page-footer
include ../scripts/scripts

doctype html
html(lang='ru')
	include ../head/head
	+page
		+page-wrapper
			+page-header
			+page-content
				block content
			+page-footer
				block footer
		+scripts(['app.min.js'])
