// descriptive variables
$color_boulder = #797979
$color_pancho = #ebd0a0
$color_eclipse = #2f1b15
$color_thunder = #231f20
$color_mine-shaft = #3d3d3d
$color_black = #000000
$color_matisse = #1f5f97

// functional variables
$page_bg_color = $color_boulder
$page_text_color = $color_eclipse
