extends /blocks/layout-default/layout-default
include /blocks/form/form
include /blocks/section/section
include /blocks/data-row/data-row
include /blocks/skills-list/skills-list
include /blocks/link/link
include /blocks/slider/slider

block head
	- var pageTitle = 'Aleksei Piatetskyi — CSSSR entry test';

block content
	+form
		+section._data
				+data-row('Полное ФИО', 'Иванов Иван Иванович', 'name')
				+data-row('Год рождения', '1990', 'year')._year
				+data-row('Место жительства', 'г. Иваново, Россия', 'location')._location
				+data-row('Скайп', 'ivanov', 'skype')._skype
				+data-row('Почта', 'ivanov@gmail.com', 'e-mail')._mail
		+section._skills
			+e.title Расскажите о себе чекбоксами
			+e('p').desc
				|Отметьте чекбоксами пункты, которые соответствуют вашим скиллам.
				|Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей.
				|Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
			+skills-list(getData('skills'))
		+section._js-lvl
			+e.title Уровень владения JavaScript
			+slider

