mixin logo(logoData)
	- logoData = logoData || {};
	+b.logo(href='http://csssr.ru/')&attributes(attributes)
		+e.img(
			src=logoData.src || 'assets/images/logo.png'
			width=logoData.width
			height=logoData.height
			alt=logoData.alt || 'CSSSR Company'
		)
		block
