.page-header
	position relative
	padding-top 69px
	padding-bottom 35px

	&__logo
		margin-bottom 58px
		margin-left 2px
		width 143px

	&__stamp
		position absolute
		top 48px
		right -63px
		width 252px
		height 106px

	&__profile-name
		position relative
		left -16px
		margin-x auto
		display block
		width 215px
		height 110px
