.textarea
	padding-top 10px
	padding-right 2%
	padding-left 2px
	display block
	width 101.5%
	min-height 180px
	font-family courier
	font-size 30px
	font-weight 400
	line-height 60px
	color $textarea_text_color
	background-color transparent
	background-image url('../images/bg-textarea.png')
	background-repeat repeat-y
	background-attachment local
	border none
