.data-row
	display flex
	align-items flex-end

	&__label
		margin-right 17px
		font-size 22px
		line-height 26px
		color $data-row_label_color

	&__text
		padding-x 15px
		padding-top 18px
		padding-bottom 8px
		flex-grow 1
		font-family courier
		font-size 30px
		font-weight 400
		line-height 36px
		color $data-row_text_color
		background url('../images/bg-data-row.png')
		background-color transparent
		background-repeat no-repeat
		background-position left bottom
		border none

	&_year &__label
		margin-right 16px
		margin-bottom 2px

	&_year &__text
		padding-top 16px
		padding-bottom 10px

	&_location &__label
		letter-spacing .2px

	&_location &__text
		padding-x 12px
		padding-top 17px

	&_skype &__label
		margin-right 15px

	&_skype &__text
		padding-x 13px
		padding-top 21px
		padding-bottom 6px

	&_mail &__label
		margin-right 16px
		margin-bottom -3px

	&_mail &__text
		padding-x 13px
		padding-top 19px
		padding-bottom 6px
