mixin slider()
	+b.slider&attributes(attributes)
		+e('input')#sliderInput(type='hidden')
		+e.mark_lvl_null
			|Не владею
		+e.mark_lvl_low
			|Использую готовые решения
		+e.mark_lvl_medium
			|Использую готовые решения и&nbsp;умею их переделывать
		+e.mark_lvl_high
			|Пишу сложный JS с нуля
		block
