@import '../../../node_modules/nouislider/distribute/nouislider.min.css'

.slider
	position relative
	min-height 80px
	background-color transparent
	background-image url('../images/bg-slider.png')
	background-repeat no-repeat
	background-position right 16px
	border none
	box-shadow none

	.noUi-base
		margin-x auto
		width 766px
		height 20px
		cursor pointer

	.noUi-handle
		top -1px
		left -9px
		cursor ew-resize
		background-color transparent
		border none
		box-shadow none
		sprite($icon_slider_indicator)

		&::before, &::after
			display none

	&__mark
		position absolute
		font-size 13px
		line-height 19px
		cursor pointer

		&::before
			position absolute
			width 3px
			content ''
			background $lvl-mark_color

		&_lvl_null
			top 46px
			left -1px

			&::before
				top -29px
				left 1px
				height 25px

		&_lvl_low
			top 44px
			left 144px

			&::before
				top -27px
				left 5px
				height 12px

		&_lvl_medium
			top 44px
			left 371px
			width 195px

			&::before
				top -27px
				left 3px
				height 12px

		&_lvl_high
			top 51px
			right 0

			&::before
				top -35px
				right 0
				height 26px
