mixin slider()
	+b.slider&attributes(attributes)
		+e.lvl-mark_null
			|Не владею
		+e.lvl-mark_low
			|Использую готовые решения
		+e.lvl-mark_medium
			|Использую готовые решения и умею их переделывать
		+e.lvl-mark_high
			|Пишу сложный JS с нуля
		block
