.skills
	display flex
	flex-wrap wrap
	justify-content space-between

	&__column:nth-child(3n-2)
		width 260px

	&__column:nth-child(3n-1)
		width 270px

	&__column:nth-child(3n)
		width 240px

	&__item
		display flex
		align-items flex-start
		margin-bottom 9px

	&__link
		margin-left 6px
